<section>
            <div class="register-form">
                <header class="main-header">Register</header>
                <div class="data">
                    <label for="username">Username:</label>
                    <input type="text" id="username" placeholder="Username..." ng-model="userData.username"/>
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Password..." ng-model="userData.password"/>
                    <label for="confirm-password">Confirm password:</label>
                    <input type="password" id="confirm-password" placeholder="Password again..." ng-model="userData.confirmPassword"/>
                </div>
                <div class="panel">
                    <button class="button" id="register-button" ng-click="register(userData)">Register</button>
                    <span>or</span>
                    <a href="#">Login</a>
                </div>
            </div>
        </section>