 <nav id="menu">
           <img class="img-header" src="imgs/trash.png" width="50px"/>
        <h1 class="site-header">Products</h1>
            <ul>
                <li class="nav-button"><a href="#">Home</a></li>
                <li class="nav-button"><a href="#">Products</a></li>
                <li class="nav-button"><a href="#/addProduct">Add Product</a></li>
                <li class="nav-button"><a href="#/logout" ng-click="logout()">Logout</a></li>
            </ul>
        </nav>